<h1>Login</h1>

<div class="form form-inline">
  <%= form_for @user, url: login_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.submit 'Login', class: 'bt' %>
  <% end %>
</div>

<div class="errors">
  <% if notice %>
    <p><%= notice %></p>
  <% end %>
  <% if alert %>
    <p><%= alert %></p>
  <% end %>
</div>
