<h1>Chatrooms</h1>

<!-- <table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chatrooms.each do |chatroom| %>
      <tr>
        <td><%= chatroom.topic %></td>
        <td><%= link_to 'Show', chatroom %></td>
        <td><%= link_to 'Edit', edit_chatroom_path(chatroom) %></td>
        <td><%= link_to 'Destroy', chatroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<div class="chatrooms">
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom do %>
      <div class="chatroom">
        <%= chatroom.topic %>
      </div>
    <% end %>
  <% end %>
</div>
