<h1> <%= @chatroom.topic %> </h1>

<div id="messages-chatroom-<%= @chatroom.id %>" class="messages">
  <% @chatroom.messages.each do |message| %>
    <div class="<%= current_user == message.user ? 'mine' : 'theirs' %>">
      <span class="author"> <%= message.user.username %></span>
      <span class="message">
        <%= message.text %>
      </span>
    </div>
  <% end %>
</div>

<div class="form form-inline">
  <%= form_for @message, remote: true, authenticity_token: true do |f| %>
    <%= f.text_field :text %>
    <%= f.hidden_field :chatroom_id, value: @chatroom.id %>
    <%= f.submit 'Send', class: 'bt' %>
  <% end %>
</div>

<script type="text/javascript">
  window.setInterval(function() {
    var divMessages = document.getElementsByClassName("messages")[0];
    divMessages.scrollTop = divMessages.scrollHeight;
  }, 5000);

  $(document).ready(function(){
    var divMessages = document.getElementsByClassName("messages")[0];
    divMessages.scrollTop = divMessages.scrollHeight;
  });
</script>
