<h1>Register</h1>

<div class="form form-inline">
  <%= form_for @user do |f|  %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.submit 'Register', class: 'bt' %>
  <% end %>
</div>

<div class="errors">
  <% if notice %>
    <p><%= notice %></p>
  <% end %>
  <% if alert %>
    <p><%= alert %></p>
  <% end %>
</div>
