<!DOCTYPE html>
<html>
  <head>
    <title>ActionCableExample</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
  </head>

  <body>
    <div class="wrapper">
      <header>
        <div class="links">
          <%= link_to 'Home', root_path %>
          <% if logged_in? %>
            <%= link_to 'Logout', logout_path  %>
          <% end %>
        </div>

        <% if notice %>
          <p><%= notice %></p>
        <% end %>
        <% if alert %>
          <p><%= alert %></p>
        <% end %>
      </header>

      <div class="main">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
